<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Not Found</title>

        <style>
            h1 {
                font-size: 5em;
                margin-top: 10rem;
                margin-bottom: 10rem;
                text-align: center;
            }
            a {
                display: block;
                color: blue;
                text-decoration: underline;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1>404</h1>
        <a href="/">Go Back</a>
    </body>
</html>
