---
import { Image } from "astro:assets";
import selfImage from "../assets/photos/loic.webp";
import flowfieldImage from "../assets/previews/flow-field-preview.png";
import mouseFollowImage from "../assets/previews/mouse-follow-preview.png";
import SketchCard from "../components/SketchCard.astro";
import Layout from "../layouts/Layout.astro";

const age = (function () {
    const ageDifMs = Date.now() - new Date("2002-09-23").getTime();
    const ageDate = new Date(ageDifMs); // milliseconds from epoch
    return Math.abs(ageDate.getUTCFullYear() - 1970);
})();
---

<Layout title="Rico Generative Arts">
    <main class="px-12 py-20 flex flex-col gap-12">
        <section
            id="intro"
            aria-label="Site Introduction"
            class="max-w-7xl mx-auto grid grid-cols-1 gap-12 items-center md:grid-cols-12"
        >
            <Image
                id="self-image"
                class="object-cover select-none rounded-full aspect-square m-auto md:col-span-6 lg:col-span-4"
                width="500"
                height="500"
                src={selfImage}
                alt="The page creator 'Loïc Rico' in portrait"
            />

            <div id="hero" class="md:col-span-6 lg:col-span-8">
                <h2 class="text-5xl break-words mb-5">Rico Generative Art</h2>

                <hr />

                <p id="hero-description" class="ml-5 mt-5 leading-5">
                    Hi, I'm Loïc Rico, a {age} years old canadian web developer.
                    I'm passionate about generative art and I love to learn new
                    things. Great things are to come in the near and far future!
                    Be prepared!
                </p>
            </div>

            <div id="about" class="md:col-span-12">
                <h2 class="text-2xl mb-3">About this site</h2>

                <hr />

                <p id="about-description" class="ml-5 mt-5 leading-5">
                    This is a personal website of mine where I can display my
                    creations. It was build with
                    <a
                        href="https://astro.build/"
                        class="underline hover:decoration-double">Astro</a
                    >, <a
                        href="https://tailwindcss.com/"
                        class="underline hover:decoration-double">Tailwind</a
                    > and the <a
                        href="https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/"
                        class="underline hover:decoration-double"
                    >
                        Canvas Element with Javascipt</a
                    > to render the different sketches. The source code is
                    available on the
                    <a
                        href="https://github.com/ricoloic/personal-webpage-v4/"
                        class="underline hover:decoration-double">Github Repo</a
                    >
                     . I'm currently working on this site on my free time. If
                    you would like to report a feature or a bug, feel free to
                    leave an <a
                        href="https://github.com/ricoloic/personal-webpage-v4/issues/new/"
                        class="underline hover:decoration-double"
                    >
                        Issue</a
                    > on the project repository. Before I decided to create this
                    site, I was always finding my self searching for a
                    particular project to show to someone. And more often than
                    not I wasn't even able to start the project since the person
                    I would be showing it to, would not be setup to run it
                    locally. So I decided to build this page to show my
                    creations to people who are interested in my work. I hope
                    you enjoy it.
                </p>
            </div>
        </section>

        <section
            id="sketches"
            aria-labelledby="sketches-title"
            class="w-full max-w-7xl mx-auto"
        >
            <h2 id="sketches-title" class="text-2xl mb-3">Sketches</h2>

            <hr />

            <div
                class="mt-5 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-5 mx-auto"
            >
                <SketchCard
                    image={flowfieldImage}
                    route="/sketches/flowfield"
                    title="Flowfield"
                />
                <SketchCard
                    image={mouseFollowImage}
                    route="/sketches/mouse-follow"
                    title="Mouse Follow"
                />
            </div>
        </section>
    </main>

    <footer
        id="links"
        aria-label="Social Links"
        class="w-full justify-center flex gap-3 my-10"
    >
        <a rel="noopener" target="_blank" href="https://github.com/ricoloic/">
            <span class="sr-only">Github Button</span>
            <i class="fa-brands fa-github fa-2xl"></i>
        </a>
        <a
            rel="noopener"
            target="_blank"
            href="https://www.linkedin.com/in/rico-suave/"
        >
            <span class="sr-only">Linkedin Button</span>
            <i class="fa-brands fa-linkedin fa-2xl"></i>
        </a>
        <button type="button" name="share-button">
            <span class="sr-only">Share Button</span>
            <i class="fa-solid fa-share-from-square fa-2xl"></i>
        </button>
    </footer>

    <div
        id="link-copied-alert"
        class="bg-transparent flex flex-col items-center justify-center fixed w-full z-50 p-3 hidden"
    >
        <div
            class="mx-auto leading-none h-min rounded-2xl flex items-center text-white bg-slate-800 p-2 border-white border-2"
            role="alert"
        >
            <span class="font-semibold mx-2 text-left flex-auto"
                >URL copied to clipboard!</span
            >
            <button type="button" name="link-copied-alert-close-button">
                <span class="sr-only">Close Button</span>
                <i class="fa-regular fa-circle-xmark fa-lg"></i>
            </button>
        </div>
    </div>

    <script is:inline src="/js/utils/html.js"></script>

    <script is:inline>
        const eLinkAlert = document.getElementById("link-copied-alert");

        function handleClickCloseLinkAlertButton() {
            addClass(eLinkAlert, "hidden");
        }

        function copyUrl() {
            navigator.clipboard
                .writeText(window.location.href)
                .then(function () {
                    removeClass(eLinkAlert, "hidden");
                    setTimeout(handleClickCloseLinkAlertButton, 3000);
                });
        }

        function handleClickShare() {
            const data = window.location;
            if (navigator.share) navigator.share(data).catch(() => copyUrl());
            else copyUrl();
        }

        document
            .querySelector('button[name="share-button"]')
            .addEventListener("click", handleClickShare);

        document
            .querySelector('button[name="link-copied-alert-close-button"]')
            .addEventListener("click", handleClickCloseLinkAlertButton);
    </script>
</Layout>
