<li id="edit-options">
    <ul class="relative h-full">
        <li class="h-full hover:bg-slate-200">
            <button
                type="button"
                aria-controls="edit-dropdown"
                name="edit-button"
                class="h-full flex items-center gap-1 px-3"
            >
                <span class="select-none">Edit</span>
                <i class="fa-solid fa-pen-to-square"></i>
            </button>
        </li>
        <li
            id="edit-dropdown"
            class="hidden absolute w-max right-0 font-normal bg-white divide-y divide-gray-100 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] top-full z-10"
        >
            <slot name="options" />
        </li>
    </ul>
</li>

<script lang="js">
window.addEventListener("load", function () {
    const eEditDropdown = document.getElementById("edit-dropdown");
    const eEditOtions = document.getElementById("edit-options");

    function handleCloseEditDropdown(event) {
        let target = event.target;
        while (target) {
            if (target == eEditOtions) return;
            target = target.parentNode;
        }

        addClass(eEditDropdown, "hidden");
    }

    function handleToggleEditDropdown() {
        if (findClassIndex(eEditDropdown, "hidden") === -1) {
            addClass(eEditDropdown, "hidden");
        } else {
            removeClass(eEditDropdown, "hidden");
        }
    }

    document
        .querySelector('button[name="edit-button"]')
        .addEventListener("click", handleToggleEditDropdown);

    document.addEventListener("click", handleCloseEditDropdown);
});
</script>
