---
import FabButton from "./FabButton.astro";
import MenuIcon from "./icons/MenuIcon.astro";
import ShareIcon from "./icons/ShareIcon.astro";
---

<div
    id="fab-container"
    class="absolute bottom-5 right-5 pl-5 flex flex-col-reverse items-end gap-1">
    <div
        class="flex flex-wrap max-w-fit items-center justify-evenly rounded-full bg-zinc-800 p-2 gap-2">
        <FabButton name="share-button">
            <ShareIcon />
        </FabButton>
        <slot />
    </div>
</div>

<script lang="js">
window.addEventListener("load", function () {
    const eContainer = document.getElementById("fab-container");

    const eDropdowns = document.querySelectorAll(
        'div[data-group="fab-dropdown"]'
    );

    for (const elem of eDropdowns) {
        eContainer.appendChild(elem);
    }

    document
        .querySelector('button[name="share-button"]')
        .addEventListener("click", handleClickShare);
});
</script>
