---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<button
    name={name}
    class="inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 w-10 text-zinc-100 rounded-full hover:bg-gray-600 hover:text-zinc-100">
    <slot />
</button>
