---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<style>
    button {
        min-height: 2.5rem;
        min-width: 2.5rem;
    }
</style>

<button
    name={name}
    class="select-none inline-flex items-center justify-center text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 text-zinc-100 rounded-full hover:bg-gray-600 hover:text-zinc-100">
    <slot />
</button>
