---
type Side = "left" | "right";

type Overflow = "scroll" | "hidden" | "auto";

interface Props {
    id: string;
    "data-open": "true" | "false";
    "data-side": Side;
    width: string;
    overflow?: Overflow;
}

const {
    id,
    "data-open": open,
    "data-side": side,
    width = "200px",
    overflow = "hidden",
} = Astro.props;
---

<style define:vars={{ width, overflow }}>
    .sliding-panel {
        width: min(var(--width), 100%);
        overflow: var(--overflow);
    }
    .sliding-panel[data-open="true"] {
        -webkit-box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.8);
        box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.8);
    }
    .sliding-panel[data-side="left"] {
        left: 0;
    }
    .sliding-panel[data-open="true"][data-side="left"] {
        transform: translate(0%);
    }
    .sliding-panel[data-open="false"][data-side="left"] {
        transform: translate(-100%);
    }
    .sliding-panel[data-side="right"] {
        right: 0;
    }
    .sliding-panel[data-open="true"][data-side="right"] {
        transform: translate(0%);
    }
    .sliding-panel[data-open="false"][data-side="right"] {
        transform: translate(100%);
    }

    .close-button-container {
        display: flex;
        flex-direction: row;
    }
    .sliding-panel[data-side="right"] .close-button-container {
        flex-direction: row-reverse;
    }
</style>

<div
    id={id}
    data-open={open}
    data-side={side}
    class="sliding-panel bg-white fixed top-0 bottom-0 transition z-50"
>
    <div class="flex flex-col h-full overflow-y-auto">
        <div class="close-button-container">
            <slot name="header-inside-section"></slot>
            <div class="flexing flex-1"></div>
            <button name="close-button" class="p-3">
                <i class="fa-regular fa-circle-xmark fa-2xl"></i>
            </button>
        </div>
        <slot />
    </div>
</div>

<script define:vars={{ id }}>
    function handleClosePanel() {
        const ePanelWrapper = document.getElementById(id);
        ePanelWrapper.setAttribute("data-open", "false");
    }

    document
        .querySelector(`#${id} button[name="close-button"]`)
        .addEventListener("click", handleClosePanel);
</script>
