---
import Layout from "../../layouts/Layout.astro";
import {Content} from '../../algorithms/calculating-prime-numbers.md';
import Prose from "../../components/Prose.astro";
---

<Layout title="Prime Number Calculation">
    <div class="overflow-auto">
        <Prose>
            <Content/>
        </Prose>
    </div>
</Layout>
