---
import Layout from "../../layouts/Layout.astro";
import {Content} from '../../algorithms/ordered-tuple-cardinality.md';
import Prose from "../../components/Prose.astro";
---

<Layout title="Ordered Tuple Cardinality">
    <div class="overflow-auto">
        <Prose>
            <Content/>
        </Prose>
    </div>
</Layout>
