---
import Layout from "../../layouts/Layout.astro";
import {Content} from '../../algorithms/pixel-image-filtering-p5.md';
import Prose from "../../components/Prose.astro";
---

<Layout title="Image Filtering">
    <div class="overflow-auto">
        <Prose>
            <Content/>
        </Prose>
    </div>
</Layout>
