---
import { Image } from "astro:assets";
import siteIcon from "../assets/r-icon.png";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Generative art creation by Loïc Rico. Using the html canvas and js for drawing awesome animation and visual effects."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#ffffff" />

        <link rel="icon" type="image/png" href="/r-icon.png" />
        <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/solid.css" rel="stylesheet" />
        <link rel="canonical" href="http://rico.studio" />

        <title>{title}</title>

        <style is:global>
            html {
                overscroll-behavior-y: none;
                overflow-y: hidden;
            }
        </style>
    </head>

    <body class="flex flex-col h-full bg-slate-800 text-white overflow-y-auto">
        <header class="bg-white text-black w-full sticky top-0 z-10">
            <nav>
                <ul class="flex shadow">
                    <li class="mr-auto">
                        <a
                            id="home-link"
                            href="/"
                            aria-label="Home Page"
                            class="select-none flex gap-3 p-3 items-center hover:bg-slate-200"
                        >
                            <Image
                                id="icon-image"
                                class="aspect-square"
                                width="30"
                                height="30"
                                src={siteIcon}
                                alt="The site icon"
                            />

                            <h1 class="hidden xs:block">
                                {title}
                            </h1>
                        </a>
                    </li>

                    <li id="sketches-links">
                        <ul class="relative h-full">
                            <li class="h-full hover:bg-slate-200">
                                <button
                                    type="button"
                                    aria-controls="sketches-dropdown"
                                    name="sketches-button"
                                    class="h-full flex items-center gap-1 px-3"
                                >
                                    <span class="select-none">Sketches</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </li>
                            <li
                                id="sketches-dropdown"
                                class="hidden absolute w-max right-0 font-normal bg-white divide-y divide-gray-100 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] top-full"
                            >
                                <ul class="text-sm text-gray-700">
                                    <li class="border-b-2">
                                        <a
                                            href="/sketches/mouse-follow"
                                            class="block px-4 py-2 hover:bg-gray-100"
                                            >Mouse Follow</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="/sketches/flowfield"
                                            class="block px-4 py-2 hover:bg-gray-100"
                                            >Flowfield</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <slot name="edit" />
                </ul>
            </nav>
        </header>

        <slot />

        <script is:inline src="/js/utils/html.js"></script>
        <script>
            const eHomeLink = document.getElementById("home-link");

            if (window.location.pathname === "/") {
                eHomeLink.setAttribute("aria-current", "page");
            } else {
                eHomeLink.setAttribute("aria-current", "");
            }

            const eSketchDropdown =
                document.getElementById("sketches-dropdown");

            function handleCloseSketchDropdown(event) {
                const eSketchesLinks =
                    document.getElementById("sketches-links");
                let target = event.target;
                while (target) {
                    if (target == eSketchesLinks) return;
                    target = target.parentNode;
                }

                addClass(eSketchDropdown, "hidden");
            }

            function handleToggleSketchDropdown() {
                if (findClassIndex(eSketchDropdown, "hidden") === -1) {
                    addClass(eSketchDropdown, "hidden");
                } else {
                    removeClass(eSketchDropdown, "hidden");
                }
            }

            document
                .querySelector('button[name="sketches-button"]')
                .addEventListener("click", handleToggleSketchDropdown);

            document.addEventListener("click", handleCloseSketchDropdown);
        </script>
    </body>
</html>
