---
import { Image } from "astro:assets";
import siteIcon from "../assets/r-icon.png";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/png" href="/r-icon.png" />
        <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/solid.css" rel="stylesheet" />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>

        <style is:global>
            html,
            body {
                overscroll-behavior-y: none;
                overflow-y: hidden;
            }

            .dropdown:hover .dropdown-sub,
            .dropdown:focus-within .dropdown-sub {
                display: block;
            }
        </style>
    </head>

    <body class="flex flex-col h-full">
        <header id="primary-header" class="bg-white w-full">
            <nav>
                <ul class="flex shadow">
                    <li class="mr-auto">
                        <a
                            href="/"
                            class="select-none flex gap-3 p-3 items-center hover:bg-slate-200"
                        >
                            <Image
                                id="icon-image"
                                class="aspect-square"
                                width="30"
                                height="30"
                                src={siteIcon}
                                alt="Image of the site icon"
                            />

                            <h1 class="hidden xs:block">
                                {title}
                            </h1>
                        </a>
                    </li>

                    <li>
                        <ul class="dropdown relative h-full hover:bg-slate-200">
                            <li
                                class="h-full flex items-center gap-1 px-3 cursor-pointer"
                                tabindex="0"
                            >
                                <span class="select-none">Sketches</span>
                                <i class="fa-solid fa-caret-down"></i>
                            </li>
                            <li
                                class="dropdown-sub hidden absolute w-max right-0 font-normal bg-white divide-y divide-gray-100 shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] top-full z-10"
                            >
                                <ul class="text-sm text-gray-700">
                                    <li class="border-b-2">
                                        <a
                                            href="/sketches/mouse-follow"
                                            class="block px-4 py-2 hover:bg-gray-100"
                                            >Mouse Follow</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="/sketches/flowfield"
                                            class="block px-4 py-2 hover:bg-gray-100"
                                            >Flowfield</a
                                        >
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <slot name="edit" />
                </ul>
            </nav>
        </header>

        <slot />

        <script is:inline src="/js/utils/html.js"></script>
        <script>
            const eHeader = document.getElementById("primary-header");

            window.addEventListener("scroll", function () {
                if (window.pageYOffset > eHeader.offsetTop) {
                    addClasses(eHeader, ["sticky", "top-0"]);
                } else {
                    removeClasses(eHeader, ["sticky", "top-0"]);
                }
            });

            function handleBlurDropdown(event) {
                const eAllDropdown = document.querySelectorAll(".dropdown");
                for (const elem of eAllDropdown) {
                    if (isClickAway([elem], event.target)) {
                        elem.blur();
                    }
                }
            }

            window.addEventListener("click", handleBlurDropdown);
            window.addEventListener("touchstart", handleBlurDropdown);
        </script>
    </body>
</html>
