---
import { Image } from "astro:assets";
import siteIcon from "../assets/r-icon.png";
import Link from "../components/Link.astro";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Generative art creation by Loïc Rico. Using the html canvas and js for drawing awesome animation and visual effects."
        />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#ffffff" />

        <!-- SECTION: OpenGraph -->
        <meta property="og:url" content="https://rico.studio" />
        <meta property="og:title" content="Rico Generative Art" />
        <meta
            property="og:description"
            content="Generative art creation by Loïc Rico. Using the html canvas and js for drawing awesome animation and visual effects."
        />
        <meta
            property="og:image"
            content="https://rico.studio/assets/website-card.jpg"
        />
        <meta
            property="og:image:alt"
            content="Display of the flowfield sketch"
        />
        <meta property="og:type" content="website" />
        <!-- ENDSECTION: OpenGraph -->

        <!-- SECTION: Twitter -->
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="Rico Generative Art" />
        <meta
            property="twitter:description"
            content="Generative art creation by Loïc Rico. Using the html canvas and js for drawing awesome animation and visual effects."
        />
        <meta
            property="twitter:image"
            content="https://rico.studio/assets/website-card.jpg"
        />
        <meta
            property="twitter:image:alt"
            content="Display of the flowfield sketch"
        />
        <!-- ENDSECTION: Twitter -->

        <link rel="icon" type="image/png" href="/r-icon.png" />
        <link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/brands.css" rel="stylesheet" />
        <link href="/assets/fontawesome/css/solid.css" rel="stylesheet" />
        <link rel="canonical" href="https://rico.studio" />

        <title>{title}</title>

        <style is:global>
            html,
            body {
                overscroll-behavior-y: none;
                overflow-y: hidden;
            }

            body {
                height: 100vh;
                height: 100dvh;
            }

            hr {
                border-top-style: groove;
                border-top-color: black;
            }

            #color-pill {
                width: calc(100% - 0.5rem);
                height: calc(100% - 0.5rem);
            }
        </style>
    </head>

    <body class="relative flex flex-col">
        <header class="w-full sticky top-0 z-10">
            <nav>
                <ul class="flex shadow">
                    <li class="mr-auto">
                        <a
                            id="home-link"
                            href="/"
                            aria-label="Home Page"
                            class="select-none flex gap-3 p-3 items-center hover:bg-zinc-200">
                            <Image
                                id="icon-image"
                                class="aspect-square"
                                width="30"
                                height="30"
                                src={siteIcon}
                                alt="The site icon"
                            />

                            <h1 class="hidden xs:block tracking-wider">
                                {title}
                            </h1>
                        </a>
                    </li>

                    <li id="sketches-links">
                        <ul class="relative h-full">
                            <li class="h-full hover:bg-zinc-200">
                                <button
                                    type="button"
                                    aria-controls="sketches-dropdown"
                                    name="sketches-button"
                                    class="h-full flex items-center gap-1 px-3">
                                    <span class="select-none">Sketches</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </li>
                            <li
                                id="sketches-dropdown"
                                class="hidden absolute w-max max-h-[250px] overflow-y-auto right-0 font-normal bg-white shadow-[0_35px_60px_-15px_rgba(0,0,0,0.3)] top-full">
                                <ul class="text-sm text-gray-700">
                                    <Link
                                        title="Mouse Follow"
                                        href="/sketches/mouse-follow"
                                    />
                                    <Link
                                        title="Flowfield"
                                        href="/sketches/flowfield"
                                    />
                                    <Link
                                        title="Flocking"
                                        href="/sketches/flocking"
                                    />
                                    <Link
                                        title="Black Hole"
                                        href="/sketches/black-hole"
                                    />
                                    <Link
                                        title="Ray Casting"
                                        href="/sketches/ray-casting"
                                    />
                                    <Link
                                        title="Times Table"
                                        href="/sketches/times-table"
                                    />
                                    <Link
                                        title="Meta Balls"
                                        href="/sketches/meta-balls"
                                    />
                                    <Link
                                        title="Quadratic Besier Curve"
                                        href="/sketches/quadratic-besier-curve"
                                    />
                                    <Link
                                        title="Cubic Besier Curve"
                                        href="/sketches/cubic-besier-curve"
                                    />
                                    <Link
                                        title="Audio Spectrum"
                                        href="/sketches/audio-spectrum"
                                    />
                                    <Link
                                        title="Line Follow"
                                        href="/sketches/line-follow"
                                    />
                                    <Link
                                        title="Point Mesh"
                                        href="/sketches/point-mesh"
                                    />
                                    <Link
                                        title="Maurer Rose"
                                        href="/sketches/maurer-rose"
                                    />
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </header>

        <slot />

        <script is:inline src="/js/utils/html.js"></script>

        <script>
            const eHomeLink = document.getElementById("home-link");

            if (window.location.pathname === "/") {
                eHomeLink.setAttribute("aria-current", "page");
            } else {
                eHomeLink.setAttribute("aria-current", "");
            }

            const eSketchDropdown =
                document.getElementById("sketches-dropdown");

            function handleCloseSketchDropdown(event) {
                const eSketchesLinks =
                    document.getElementById("sketches-links");
                let target = event.target;
                while (target) {
                    if (target == eSketchesLinks) return;
                    target = target.parentNode;
                }

                addClass(eSketchDropdown, "hidden");
            }

            function handleToggleSketchDropdown() {
                if (findClassIndex(eSketchDropdown, "hidden") === -1) {
                    addClass(eSketchDropdown, "hidden");
                } else {
                    removeClass(eSketchDropdown, "hidden");
                }
            }

            document
                .querySelector('button[name="sketches-button"]')
                .addEventListener("click", handleToggleSketchDropdown);

            document.addEventListener("click", handleCloseSketchDropdown);
        </script>
    </body>
</html>
